body {
  margin: 0;
  font-family: system-ui;
}

.hidden { display: none; }

/* AUTH */

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#2b193d,#4c2a85);
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 300px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.auth-card button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  background: #7c5cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.secondary {
  background: #2b193d;
}

.error {
  color: red;
  min-height: 20px;
}
