body {
  margin: 0;
  font-family: system-ui;
  background: #f4f2ff;
}

.hidden { display: none; }

/* AUTH */

.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg,#2b193d,#4c2a85);
}

.auth-card {
  background: white;
  padding: 40px;
  border-radius: 16px;
  width: 300px;
  text-align: center;
}

.auth-card input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}

.auth-card button {
  width: 100%;
  margin: 8px 0;
  padding: 12px;
  background: #7c5cff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.auth-card .secondary {
  background: #2b193d;
}

/* DASHBOARD */

.sidebar {
  width: 220px;
  height: 100vh;
  position: fixed;
  background: #2b193d;
  color: white;
  padding: 20px;
}

.sidebar button {
  width: 100%;
  background: none;
  color: white;
  border: none;
  padding: 12px;
  text-align: left;
  cursor: pointer;
}

.main {
  margin-left: 220px;
  padding: 40px;
}

.card {
  background: white;
  padding: 25px;
  border-radius: 12px;
}

textarea, select, input {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
}
